{% load static %}
<!DOCTYPE html>
<head>
    <title>Docs</title>
    <link rel="stylesheet" href="{% static 'drf_pydantic_openapi/css/swagger-ui.css' %}">
</head>

<body>
    <div id="ui-wrapper-new" data-spec="">
        Loading....
    </div>
</body>
<script src="{% static 'drf_pydantic_openapi/js/swagger-ui-bundle.js' %}"></script>
<script>
    var swaggerUIOptions = {
      url: "{{schema_url}}",
      dom_id: '#ui-wrapper-new', // Determine what element to load swagger ui
      docExpansion: 'list',
      deepLinking: true, // Enables dynamic deep linking for tags and operations
      filter: true,
      presets: [
        SwaggerUIBundle.presets.apis,
        SwaggerUIBundle.SwaggerUIStandalonePreset
      ],
      plugins: [
        SwaggerUIBundle.plugins.DownloadUrl
      ],
    }

    var ui = SwaggerUIBundle(swaggerUIOptions)

    /** Export to window for use in custom js */
    window.ui = ui
</script>

</html>
